* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --color-black: #111;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 940px;

}

header {
    display: flex;
    padding: 36px 0;
}

header img {
    width: 90.6px;
    height: 26.9px;
}

header .header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 122px;
}

header .header-menu p {
    font-size: 16px;
    color: var(--color-black);
    line-height: 19px;

    font-weight: 400;
    margin-right: 30px;
}

section {
    background-color: #FBDFDB;
    border-radius: 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 366px;

    margin-bottom: 50px;
}

section .section-text {
    max-width: 316px;

}

.section-text h1 {
    font-size: 32px;
    font-weight: bold;
    color: var(--color-black);
    line-height: 38px;

    margin-bottom: 10px;
}

.section-text p {
    font-size: 18px;
    font-size: 400;
    color: #000000;
    line-height: 28px;
}

section img {
    width: 216px;
   
}

/* --- cards ---- */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    margin-top: 20px;
}

.card {
    max-width: 300px;
}

.card-image img {
    width: 100%;
    border-radius: 15px;
}

.card-info {
    margin-top: 20px;
}

.card-info .title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;

    margin-bottom: 5px;
}

.card-info .author {
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    font-weight: 400;
}

footer {
    text-align: center;
    background: #EEEEEE;

    margin-top: 50px;
}

footer p {
    padding: 23px 0;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}